<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="WebService1Soap1" />
                <binding name="WebService1Soap2" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1480/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
                name="WebService1Soap" />
            <endpoint address="http://localhost:1480/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap1" contract="ServiceReference2.WebService1Soap"
                name="WebService1Soap1" />
            <endpoint address="http://localhost:1480/WebService1.asmx" binding="basicHttpBinding"
                bindingConfiguration="WebService1Soap2" contract="ServiceReference3.WebService1Soap"
                name="WebService1Soap2" />
        </client>
    </system.serviceModel>
</configuration>